* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: #6d6d6d
}

/* Style the header */
header {
    background-color: #27282b;
    color: white;
}

header h1 {
    background-color: #1b1b1e;
    padding: 30px;
    text-align: left;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

nav {
    background-color: rgb(17, 66, 82);

}

nav a:link {
    text-decoration: none;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}




li {
    display: inline;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: #6d6d6d;
    text-align: left;
}

section {
    margin-left: 0px;
    background-color: #1b1b1e;
    padding: 30px;
    text-align: left;
    font-size: 14px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section h1 {
    background-color: #1b1b1e;
    padding: 30px;
    text-align: left;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section h2 {
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section li {
    margin-left: 0px;
    background-color: #1b1b1e;
    font-size: 14px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
    display: list-item
}





/* Style page content */
.main {
    margin-left: 0px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Style the footer */
footer {
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #27282b;
    padding: 10px;
    color: white;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    color: white;
}