* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: #6d6d6d
}

/* Style the header */
header {
    background-color: #27282b;
    color: white;
}

header h1 {
    background-color: #576CBC;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

nav {
    background-color: #19376D;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a:link {
    text-decoration: none;
    text-align: center;
    padding: 30px;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
    color: rgb(158, 92, 92);
}




li {
    display: inline;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: #6d6d6d;
    text-align: left;
}

section {
    margin-left: 0px;
    background-color: #0B2447;
    padding: 30px;
    text-align: left;
    font-size: 14px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section h1 {
    background-color: #0B2447;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section h2 {
    font-size: 25px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
}

section p {
    padding-left: 30px;

}

section li {
    background-color: #0B2447;
    padding-left: 30px;
    font-size: 14px;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
    color: white;
    display: list-item;
    list-style-position: inside;

}




/* Style page content */
.main {
    margin-left: 0px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Style the footer */
footer {
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #576CBC;
    padding: 10px;
    color: white;
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    color: white;
}