/* 
cyan 9 #0b7285
cyan 8 #0c8599
cyan 7 #1098ad
cyan 6 #15aabf
cyan 5 #22b8cf
grey 9 #212529
grey 8 #343a40 
grey 7 #495057 
orange 8  #e8590c
*/

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

nav {
  font-size: 24px;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  column-gap: 50px;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: #212529;
}

/* Dropdown button */
.dropbtn {
  /*   text-decoration: none; */
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  background: none;
  color: #212529;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

.dropbtn a {
  text-decoration: none;
  color: #212529;
  font-size: 24px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgba(28, 102, 148, 0.754);
  color: aliceblue;
}

/* Container for dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(243, 243, 243, 0.81);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1c669471;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(243, 243, 243, 0.81);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-button {
  color: #212529;
  margin-left: auto;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #212529;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #212529;
  font-weight: bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  position: relative;
  /*   background-color: orangered; */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("images/sherpatrappa.jpg");
  background-size: cover;
}

img {
  width: 300px;
  height: auto;
}

.section-title {
  display: inline-block;
  background-color: rgba(28, 102, 148, 0.754);
  padding: 25px 25px 25px 25px;
  margin: 50px 50px 50px 50px;
  /*  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.4); */
  box-shadow: 20px 20px 0 0 rgba(28, 102, 148, 0.5);
}

.section-header {
  color: aliceblue;
}

.section {
  background-color: rgba(243, 243, 243, 0.81);
  /*   display: flex; */
  display: block;
  padding: 100px 100px 50px 50px;
  margin: 50px 50px 50px 50px;
}

.profil-image {
  display: inline-block;
}

.container--interests {
  /* STARTER */
  font-family: sans-serif;
  background-color: rgba(28, 102, 148, 0.754);
  font-size: 30px;
  margin: 40px;

  /* CSS GRID */
  display: grid;
  /* grid-template-columns: 200px 200px 1fr 1fr; */
  /* grid-template-rows: 300px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr auto; */

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* height: 500px; */

  /* gap: 30px; */
  column-gap: 100px;
  row-gap: 40px;
}

.container--interests h3 {
  margin-bottom: 20px;
}

.container--interests p {
  background-color: #c7cdd1d8;
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(243, 243, 243, 0.81);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgba(28, 102, 148, 0.754);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgba(243, 243, 243, 0.81);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
